<!-- % title "Intakes" % -->

<section>
  <h1 align="center"><%= @map_data.name %> Intake Heatmap</h1>


  <p> Max intensity is <%= @max_intensity %> for <%= @latlngs.size %> records</p>
 <%= render(
    partial: 'map',
    locals: { latlngs: @latlngs, map_data: @map_data, max_intensity: @max_intensity, hotspots: @hotspots, hs_detail: @hs_detail }
  ) %>

</section>

