 <div class="row">
   <div class="col-md-12 col-lg-12">
     <h1 class="text-center"><%= "#{@detail_map.map_name}" %> Intakes Detail Map</h1>
   </div>
  </div>

  <%= render(partial: "detail_map",
             locals: { map_detail: @detail_map,
                       map_id: @map_id,
                       intakes: @intakes,
                       center_point: @detail_map.center_point,
                       zoom: @detail_map.zoom_level
                     }
            ) %>
