<section>
  <%= column_chart( by_age_groups,
id: id,
xtitle: 'Age Group',
ytitle: 'Average Length Of Stay',
library:
  {
    title:  {
      text:  'Average Length of Stay by Age Group',
      align: 'center'
    },
    chart: {
      borderWidth: 2,
      plotBackgroundColor: 'rgba(255,255,255,.9)',
      plotShadow: true,
      plotBorderWidth: 1,
      backgroundColor: '#eee'
    },
    legend: {
      align: 'right',
      verticalAlign: 'top',
      y: 75,
      x: -50,
    layout: 'vertical'
    }
  }
) %>
</section>

