  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <div id="map"></div>
        <script>
          <%= map_animal_services_311_calls(map_detail, map_id, animal_services311_calls, center_point, zoom) %>
        </script>
      </div>
    </div>
  </div>


