<article data-ng-app="welcome">
  <header>
    <h1 class="text-info">Welcome to FetchIT! Analytics</h1>
  </header>

  <section>
    <hr/>
    <h4>You are logged in as <span class="text-success"><%=current_user.email %></span></h4>
  </section>
</article>
