<article ng-app="animals" ng-controller="AnimalsController">

<section class="search-form">
  <div class="row">
    <div class="col-md-5 col-lg-5 col-xs-5 col-sm-5">
      <form>
        <div class="input-group input-group-lg">
          <label for="keywords" class="sr-only">Keywords</label>
          <input type="text" 
                 name="keywords" 
                 class="form-control input-lg"
                 placeholder="Type here"
                 ng-model="keywords">
          <span class="input-group-btn">
            <button class="btn btn-primary btn-lg" 
                    ng-click="search(keywords)">
              Search
            </button>
          </span>
        </div>
      </form>
      <h1 class="searchedFor" ng-if="searchedFor">
        <small>Searched for:</small> {{searchedFor}}
      </h1>
    </div>
  </div>
</section>

  <h1>Animals Under Care</h1>
  

<table id="mainlisting" class="table table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>ID</th>
        <th>Name</th>
        <th>Kennel</th>
        <th>Breed</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Days In Care</th>
      </tr>
    </thead>

    <tbody>
      <section>
      <tr ng-repeat="a in animals">
        <td> image </td>
        <td> {{ a.anumber }} </td>
        <td> {{ a.name }} </td>
        <td> 101 </td>
        <td> {{ a.breed }} </td>
        <td> {{ a.gender }} </td>
        <td> {{ a.dob }} </td>
        <td> 100 </td>
      </tr>
      </section>
<!--
      <section>
        <tr>
          <td>image</td>
          <td>{{animal.animal_type_id}}</td>
          <td>{{animal.name}}</td>
          <td>kennel</td>
          <td>{{animal.breed}}</td>
          <td>{{animal.gender_id}}</td>
          <td>age</td>
          <td>days in care</td>
        </tr>
      </section>
-->
<!--
        <section>
          <tr>
            <td style="text-align: center;" rowspan=2>
--> <!-- %= link_to(image_tag(listing.image.url(:tabsize), :size => "160x135", :class => "img-polaroid"), listing_path(listing.id)) % --> 
<!-- 
            </td>
            <td><= link_to listing.animal_id, listing_path(listing.id) ></td>
            <td><= link_to listing.name, listing_path(listing.id) ></td>
            <td><= listing.kennel_number ></td>
            <td><= listing.breed ></td>
            <td><= listing.gender ></td>
            <td><= listing.age_in_years_months ></td>
            <td><= listing.days_since_intake ></td>
          </tr>
          <tr>
            <td colspan=7 title="
-->
<!-- %= listing_description_text(listing) % --> 
<!-- "-->
              <!-- %= short_description(listing_description_text(listing), 500) % -->
<!--
            </td>
          </tr>
        </section>
-->
      <!-- % end % -->
    </tbody>
  </table>
  

<!--
    <tbody>
      < @animals.each do |animal| %>
        <tr>
          <td><= link_to 'Show', animal %></td>
          <td><= link_to 'Edit', edit_animal_path(animal) %></td>
          <td><= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      < end %>
    </tbody>
  </table>
-->
  
  <br>
  
  <%= link_to 'New Animal', new_animal_path %>
</article>
