  <div class="row">
   <div class="col-md-12 col-lg-12">
     <h1 class="text-center">Dashboard</h1>
   </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <%= render( partial: "standard_column_chart",
                    locals: { data_series: @intakes_by_period, 
                              is_stacked: false, 
                              id: "intakes_by_period", 
                              xtitle: "Month", 
                              ytitle: "Total Intakes", 
                              title: "Intakes By Month" 
                            }
                  )
        %>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <%= render( partial: "standard_column_chart",
                    locals: { data_series: @outcomes_by_period, 
                              is_stacked: false, 
                              id: "outcomes_by_period", 
                              xtitle: "Period", 
                              ytitle: "Total Outcomes", 
                              title: "Outcomes By Month" 
                            }
                  )
        %>
      </div>
    </div>
  </div>
