<header>
  <div class= "row">
    <div class="col-md-4">
      <%= image_tag("Logo.png", size: "295x80", alt: "FetchIT Software", class: "img-responsive") %>
    </div>
    <div class="col-md-8">
      <h4 class="pull-right text-success"><em>The Next Generation of Animal Care Management Software</em></h4>
    </div>
  </div>
</header>

