<footer>
  <br/>
  <!-- must have the "http://" in url so Rails doesn't think it's a relative url" -->
  <p class="text-muted text-center" style="margin-bottom:0;">Visit Us at <a href="http://www.fetchitsoftware.com" target="_blank">www.fetchitsoftware.com</a></p>
  <p class="text-muted text-center" style="margin-bottom:0;"><small>Copyright, 2015 FetchIT Software, LLC. All Rights Reserved.</small></p>
</footer>
