<footer>
  <div class="row">
    <br/>
      <p class="text-muted text-center" style="margin-bottom:0;">Questions or issues? Contact us at <a href="mailto: support@fetchitsoftware.com">support@fetchitsoftware.com</a></p>
      <p class="text-muted text-center" style="margin-bottom:0;"><small>More information at <a href="http://www.fetchitsoftware.com" target="_blank">www.fetchitsoftware.com</a></small></p>
      <p class="text-muted text-center" style="margin-bottom:0;"><small>Copyright, 2015 FetchIT Software, LLC. All Rights Reserved.</small></p>
  </div>
</footer>
